<div class="product-br">

  <%= breadcrumbs(@taxon) %>

</div>

<div id="product-header" class="grid">
  <div id="product-media" class="grid_5">



    <%= render 'image' %>

    <div id="thumbnails" data-hook>
      <%= render 'thumbnails', :product => @product %>
    </div>

    <!--ul class="more-views">
      <li>
        <a class="product-image small zoom cboxElement" rel="zoom-group" href="http://coffeeroom.com.ua/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/r/m/rm.jpg" title="">
          <img src="http://coffeeroom.com.ua/media/catalog/product/cache/1/thumbnail/52x52/9df78eab33525d08d6e5fb8d27136e95/r/m/rm.jpg" alt="">
        </a>
      </li>
    </ul-->
  </div>

  <div id="product-info" class="grid_7">
    <h1><%= accurate_title %></h1>






    <div class="grid">
      <div class="grid_5 alpha">
        <br/>
        <%= render 'cart_form' %>
      </div>

      <div class="clear"></div>
      <p class="short-description">
        <%= product_description(@product) rescue t(:product_has_no_description) %>
      <div data-hook="product_properties">
        <%= render 'properties' %>
      </div>
      </p>
      
     

      
    </div>
    

  </div>
  <%=render :partial=>"socials"%>
  <%= render 'taxons' %>
</div>
